.todo-item-row {
  width: 100%;
}

.todo-item-text {
  cursor: pointer;
}

.todo-item-done {
  text-decoration: line-through;
}

.todo-item-icon {
  font-size: 18px;
  color: #bfbfbf;
}

.todo-item-icon-done {
  color: green;
}

.todo-item-delete-button {
  color: #ff4d4f;
}
